name: Python test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    build:
        strategy:
          matrix:
            os: ["ubuntu-latest", "macos-latest"]
            python-version: ["3.10", "3.11", "3.12" ]
            mpi: [ "openmpi", "mpich"]#, "intelmpi"

        runs-on: ${{ matrix.os }}

#        env:
#          COVERAGE_PROCESS_START: pyproject.toml

        steps:
          - name: Check out repository
            uses: actions/checkout@v4

          - name: Setup MPI ${{ matrix.mpi }}
            uses: mpi4py/setup-mpi@v1
            with:
              mpi: ${{ matrix.mpi }}

          - name: Install uv, set the python version, and enable cache
            uses: astral-sh/setup-uv@v5
            with:
              python-version: ${{ matrix.python-version }}

          - name: Install dependencies
            run: |
                uv pip install --no-binary=mpi4py ."[test]"

          - name: Test with pytest and measure coverage
            run: |
              coverage run --rcfile=./pyproject.toml -m pytest
              mpirun -n 8 coverage run --rcfile=./pyproject.toml -m mpi4py -m pytest --with-mpi
              coverage combine
              coverage report -m --format markdown > cov_report.txt
              coverage xml

          - name: Save PR number
            if: matrix.python-version == '3.11' && matrix.os == 'ubuntu-latest'  && matrix.mpi == 'open-mpi'
            run: echo ${{ github.event.number }} > pr_number.txt

          - name: Save coverage report and PR number
            if: matrix.python-version == '3.11' && matrix.os == 'ubuntu-latest'  && matrix.mpi == 'open-mpi'
            uses: actions/upload-artifact@v4
            with:
              name: coverage-report
              path: |
                cov_report.txt
                pr_number.txt
              retention-days: 1

          - name: Upload coverage reports to Codecov
            uses: codecov/codecov-action@v4.0.1
            with:
              token: ${{ secrets.CODECOV_TOKEN }}
