name: Python test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    build:
        strategy:
          matrix:
            os: ["ubuntu-latest", "macos-latest"]
            python-version: ["3.10", "3.11", "3.12" ]
            mpi: [ "openmpi", "mpich"]

        runs-on: ${{ matrix.os }}

        # Coverage auto-start for serial and MPI processes
        env:
          COVERAGE_PROCESS_START: pyproject.toml

        steps:
          - name: Check out repository
            uses: actions/checkout@v6

          - name: Setup MPI ${{ matrix.mpi }}
            uses: mpi4py/setup-mpi@v1
            with:
              mpi: ${{ matrix.mpi }}

          - name: Install uv, set the python version, and enable cache
            uses: astral-sh/setup-uv@v5
            with:
              python-version: ${{ matrix.python-version }}
              enable-cache: false

          - name: Install dependencies
            run: |
                apt install libhdf5-mpi-dev
                CC="mpicc" HDF5_MPI="ON" uv pip install --no-binary=h5py h5py
                uv pip install --force-reinstall --no-binary=mpi4py ."[test]"

          - name: Test with pytest and measure coverage
            run: |
              uv run pytest
              mpirun \
                -np 8 \
                --map-by :OVERSUBSCRIBE \
                --bind-to none \
                uv run pytest --with-mpi
              coverage combine
              coverage report -m --format markdown > cov_report.txt
              coverage xml

          - name: Save PR number
            if: matrix.python-version == '3.11' && matrix.os == 'ubuntu-latest'  && matrix.mpi == 'openmpi'
            run: echo ${{ github.event.number }} > pr_number.txt

          - name: Save coverage report and PR number
            if: matrix.python-version == '3.11' && matrix.os == 'ubuntu-latest'  && matrix.mpi == 'openmpi'
            uses: actions/upload-artifact@v4
            with:
              name: coverage-report
              path: |
                cov_report.txt
                pr_number.txt
              retention-days: 1

          - name: Upload coverage reports to Codecov
            uses: codecov/codecov-action@v3
            with:
              token: ${{ secrets.CODECOV_TOKEN }}
